@import url(http://fonts.googleapis.com/css?family=Overlock);
@import url(http://fonts.googleapis.com/css?family=Coda);

* { margin: 0; padding: 0;}
a {color: #6F93CC; text-decoration:none;}
img {max-width:800px;margin: 10px 0}
ul {list-style: none; }
body{ font-size:62%; color:#666; font-family: "Overlock", "Microsoft YaHei", sans-serif;font-size:1em;}
#main{ width:80%; margin:0 auto;}
#header{ border-bottom:2px solid #000; overflow:hidden;margin-top:20px;padding-bottom:5px; }
#header .logo { text-align:center; color: #555; }
.menu{ float:right; font-family: 'Coda';}
.menu li{ float:left; }
.menu a{padding:2px 20px;}
.menu a.current{ color:red; border-bottom:3px solid red;}

#content{ width:70%; margin-top:20px; padding-right:5px; border-right:1px solid #EEE;}
#content time{ float:right; color:#ccc;}

.title h2{font-size:1em;}
.meta{font-size:1em; color:#999;margin:10px;}
.post{margin:10px;font-size:0.9em;margin-bottom:20px;}
#pagination {font-size:0.8em;margin-top:10px;color:#666;clear:both;}
#footer{ margin-top:30px; color:#999;}

